<!DOCTYPE html>
<html lang="en-US">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.12/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.6/angular-sanitize.js"></script>
    <script src="https://rawgithub.com/l-lin/angular-datatables/v0.6.1/dist/angular-datatables.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.12/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.12/docs.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css">

    <link href="http://code.jquery.com/ui/1.9.0/themes/cupertino/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">  

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>


    <!-- local lib -->
    <script src="lib/jquery.csv.js"></script>
    <script src="lib/angularjs-datatables.js"></script>
    <script src="lib/angularjs-datatables.css"></script>

    <!-- my scripts -->
    <script src="index.js"></script> 
    <link rel="stylesheet" href="styles/style.css">

    <title>Data Downlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--
        IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
        For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
      -->
      <!--[if lt IE 9]>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
        <script>
          document.createElement('ui-select');
          document.createElement('ui-select-match');
          document.createElement('ui-select-choices');
        </script>
      <![endif]-->
    
</head>
<body>
    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="app" ng-controller="main"> 
        <div class="container">
            <h2 >Download FBI Data on Hate Crimes</h2>
            <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="about">
                        <md-content class="md-padding">
                            <h2 class="section-title">
                                Warning 
                                <i class="toggle-open fa {{viewToggles.warn? 'fa-minus' : 'fa-plus'}}" 
                                    aria-hidden="true" 
                                    ng-click="toggleOpen('warn')">
                                </i>
                            </h2>
                            <div id="warning" class="section" ng-show=viewToggles.warn>
                                <p>Want to know how many hate crimes happened in certain place at a certain time? This data can't answer that. But it can be a source of insight for the public. It canbe the beginning of a story for a journalists but never the whole story.
                                </p>
                                <p>The records here likely do not cover all hate crimes. As a result, there are major limits to conclusions you can draw from them. 
                                </p>
                                <p>The Bureau of Justice Statistics believes 
                                    <a href="https://www.bjs.gov/content/pub/press/hcv0415pr.cfm" target="#">more than half of hate crimes go unreported</a>. 
                                    (<a href="https://www.bjs.gov/content/pub/pdf/hcv0415.pdf" target="#">full report</a>)
                                </p> 
                                <p>The data comes from the FBI's Uniform Crime Reporting program. ProPublica has found some agencies participating in the UCR 
                                    <a href=" https://projects.propublica.org/graphics/hatecrime-map" target="#">do not report hate crimes</a>.
                                </p>
                                <p>Furthermore, collecting any data is a human process and so prone to error and subjectivity. Users can read the FBI's 
                                    <a href="https://www.fbi.gov/file-repository/ucr/cr-hate-crime-data-collection-guidlines-training-manual-v2.pdf/view" target="#">manual for hate crime data collection</a> to see the policies and definitions for the hate crime program.
                                </p>
                                <p>Finally, users can also read the FBI's 
                                    <a href="https://ucr.fbi.gov/ucr-statistics-their-proper-use" target="#">warning about using any data</a> from the UCR program, of which the hate crime data is a part.
                                </p>
                                <p>Other sources of data can give context to the records here. Examples are the BJS's report 
                                    <a href="https://www.bjs.gov/index.cfm?ty=pbdetail&iid=5967" target="#">Hate Crime Victimization, 20014-2015</a> 
                                    and ProPublica's 
                                    <a href="https://projects.propublica.org/graphics/hatecrimes" target="#">Documenting Hate project"</a>
                                <h3>What Can You Do? Lots.</h3>
                                <div>
                                    <ul>
                                        <li>Examine how police departments report hate crimes, using these records as a start</li>
                                        <li>Search for records of specific incidents. Use data from here to find more related documents</li>
                                        <li>Examine a trend across time, being sure to verify changes are not artifacts of changes to data colleciton</li>
                                        <li>Compare types of incidents within the same time period and location, again verifying differnces aren't artifacts.</li>
                                        <li>Compare locations/departments while accounting for population size, and again verifying there aren't differences in data collection or reproting or other reasons to doubt a conclusion you draw. (If there are, that could be a story too.)

                                    </ul>
                                    <p>Again, read the warnings, make sure you've accounted for all those issues. Talk to real people. Look at other sources of data</p>
                                </div>
                            </div>
                            <h2 class="section-title">
                                How This Work 
                                <i class="toggle-open fa {{viewToggles.works? 'fa-minus' : 'fa-plus'}}" 
                                    aria-hidden="true" 
                                    ng-click="toggleOpen('works')">
        
                                </i>
                            </h2>
                            <div id="works" class="section" ng-show=viewToggles.works>
                                <p>This app lets you search, analyze and visualize hate crime data from the FBI. Each input field on the "Search" page is a column. Search the database for records matching values you select from "Basics," "Where" and "When"
                                </p>
                                <p>
                                Add a parameter: Select a parameter  and then click "Set" or "Add" too add it to the list of parameters. If you don't "Set" or "Add," the parameter won't be part of the query.
                                </p>
                                <p>

                                <h3>Function 1: Analyze and Visualize</h3>
                                <div>
                                    <ol> 
                                        <li>Under "Summarize" choose a column to summarize by. </li>
                                        <ul><li>The app will return the number of records corresponding to each value in the chosen column. Be sure to "Set" the column name.</li></ul>
                                        <li>Use other input fields to filter the records returned.</li>
                                        <li>Click "Get Data" and the "Table" and "Viz" tabs will activate.
                                            <ul>
                                                <li>"Table" shows a table of your results and download them as a .csv.</li>
                                                <li>"Viz" displays a bar chart of your results.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <p>Example: Set "INCIDENT_YEAR" for "Column Name" and add "Indiana" for "State Name" and you will get a count of hate crime records in Indiana for each year in the data set.
                                </p>
                                <p>
                                For the technically inclined, this function does a group by on the chosen column and uses a count aggregation function.
                                </p>

                                <h3>Function 2: Search</h3>
                                <p>Find records that fit any criteria you want. </p>
                                <p>Each input under "Basics," "Where" and "When" represents a column in the data set.
                                </p>
                                <div>
                                    <ol>
                                        <li>Choose a value under any input and hit "Add" to filter for records matching that value.</li>
                                        <ul>
                                            <li>You can add multiple values for each input and values for multiple inputs, just be sure to click "Add" each time.</li>
                                        </ul> 
                                        <li>If you add multiple values for one column, the app searches for records that fit either value.</li>
                                        <li>If you add a value for multiple columns, the app searches for records that fit both values</li>
                                        <li>Click "Get Data" to get a table of all the raw records corresponding to your search terms.</li>
                                        <li>You can download a table of the results</li>
                                    </ol>
                                </div>
                                <p>Example: Find records of anti-Black assaults. For "Bias Description" add "Anti-Black or African American" and under "Offense Name" add "Aggravated Assault" and "Simple Assault"</p>


                            </div>
                            <h2 class="section-title">
                                Details 
                                <i class="toggle-open fa {{viewToggles.details? 'fa-minus' : 'fa-plus'}}" 
                                    aria-hidden="true" 
                                    ng-click="toggleOpen('details')">
        
                                </i>
                            </h2>
                            <div id="details" class="section" ng-show=viewToggles.details>
                                <p>This tool lets you search and download reports of hate crimes, or crimes motivated by a bias. The reports are from law enforcement agencies around the U.S. who sent the data to the FBI.</p>
                                <p>It is still under development.</p>
                                <p>The data came from <a href="https://crime-data-explorer.fr.cloud.gov/downloads-and-docs">the FBI</a>. 
                                <p>This project set up a sever to host the data and to let users search and filter it with an online interface.</p>
                           
                                <p>All the column names and options for those values come directly from the data set. This app presents them without modification.</p>
                                <p>There are junk values in some records. In the interest of transparency, the app has not sought to clean the data. But as a result, have caution when using the data and investigate any odd values you see.</p>

                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="search">
                      <md-content class="md-padding">
                             <h2 class="section-title">
                                Summarize 
                                <i class=" {{explain.sum? 'fas' : 'far'}} fa-question-circle" ng-click="toggleExplain('sum')">
                                    
                                </i>
                                <i class="toggle-open fa {{viewToggles.sum? 'fa-minus' : 'fa-plus'}}" 
                                   aria-hidden="true" 
                                   ng-click="toggleOpen('sum')"></i>
                            </h2>
                            <div id="sum" class="section" ng-show=viewToggles.sum>
                                <div class="explainer" ng-show=explain.sum>
                                    <p>
                                    Choose a value here to summarize data. (The app also will search the 
                                    database for records matching the parameters below.) Then, the
                                    app counts the number of records that match each value of the 
                                    column you're summarizing by and returns the results under 
                                    "Table" and "Viz."</p>
                                    <p>
                                    Leave "Column Name" unset if you want full records and not a summary.
                                    </p>
                                </div>
                                <div class="add-param">
                                    <h3>Column Name</h3>
                                    <h4 ng-show="data.COLUMN_NAME"> 
                                        {{data.COLUMN_NAME}}
                                    <h4>
                                    <ui-select ng-model="buff.COLUMN_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.COLUMN_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                   
                                    <button class="btn" ng-click="setParam('COLUMN_NAME')">Set</button>
                                    <button class="btn" ng-click="unsetParam('COLUMN_NAME')">Clear</button>
                                </div>
                            </div>
                            

                            <h2 class="section-title">
                                Basics 
                                <i class=" {{explain.basics ? 'fas' : 'far'}} fa-question-circle" ng-click="toggleExplain('basics')"></i>
                                <i class="toggle-open fa {{viewToggles.what? 'fa-minus' : 'fa-plus'}}" 
                                   aria-hidden="true" 
                                   ng-click="toggleOpen('what')"></i>
                            </h2>
                            <div id="what" class="section" ng-show=viewToggles.what>
                                <div class="explainer" ng-show=explain.basics>
                                    <p>
                                    Search for records that correspond to criteria you choose. If you choose a value for any input field, the search will only return records that have the chosen value for that field.</p> 
                                    <p>If you select multiple values for the same field, it will return results that have any of the chosen values for that field. If you choose values for multiple fields, the search will only return records that have the chosen values for all of those fields.</p>
                                   
                                </div>
                                <div class="add-param">
                                    <h3>Bias Description</h3>
                                    <ul ng-show="data.BIAS_DESC.length > 0"> 
                                        <li ng-repeat="item in data.BIAS_DESC track by $index"> {{item}}</li>
                                    </ul>
                                    <ui-select ng-model="buff.BIAS_DESC">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.BIAS_DESC | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    <button class="btn" ng-click="addParam('BIAS_DESC')">Add</button>
                                    <button class="btn" ng-click="clearParam('BIAS_DESC')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Offense Name</h3>
                                    <ul ng-show="data.OFFENSE_NAME.length > 0"> 
                                        <li ng-repeat="item in data.OFFENSE_NAME track by $index"> {{item}}</li>
                                    </ul>
                                    <ui-select ng-model="buff.OFFENSE_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.OFFENSE_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>
                
                                    <button class="btn" ng-click="addParam('OFFENSE_NAME')">Add</button>
                                    <button class="btn" ng-click="clearParam('OFFENSE_NAME')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Incident Date
                                        <i class=" {{explain.dates ? 'fas' : 'far'}} fa-question-circle"
                                            ng-click="toggleExplain('dates')">    
                                        </i>
                                    </h3>
                                    <div class="explainer-island" ng-show=explain.dates>
                                    <p>
                                    Search for records that correspond to criteria you choose. If you choose a value for any input field, the search will only return records that have the chosen value for that field.</p> 
                                    <p>If you select multiple values for the same field, it will return results that have any of the chosen values for that field. If you choose values for multiple fields, the search will only return records that have the chosen values for all of those fields.</p>
                                   
                                </div>
                                    <div class="two-inputs">
                                        <label><h4>After {{data.START_DATE}}</h4>
                                            <input type="date" ng-model="buff.START_DATE">
                                        </label>
                                        <button class="btn" ng-click="data.START_DATE = buff.START_DATE">Add</button>
                                        <button class="btn" ng-click="data.START_DATE = ''">Clear</button>
                                        <label><h4>Before {{data.END_DATE}}</h4>
                                            <input type="date" ng-model="buff.END_DATE">
                                        </label>
                                        <button class="btn" ng-click="data.END_DATE = buff.END_DATE">Add</button>
                                        <button class="btn" ng-click="data.END_DATE = ''">Clear</button>
                                    </div>

                                </div>
                            </div>
                            <h2 class="section-title">
                                Where
                                <i class=" {{explain.where ? 'fas' : 'far'}} fa-question-circle" ng-click="toggleExplain('where')"></i>
                                <i class="toggle-open fa {{viewToggles.where? 'fa-minus' : 'fa-plus'}}" 
                                   aria-hidden="true" 
                                   ng-click="toggleOpen('where')"></i>
                            </h2>
                            <div id="where" class="section" ng-show=viewToggles.where>
                                <div class="explainer" ng-show=explain.where>
                                    <p>Fields work just like "Basics" but are oriented toward where the incident happened. "Agency Name" field is slow to work, but contains a type-ahead list of individual agencies.</p>
                                   
                                </div>
                                <div class="add-param">
                                    <h3>State Name</h3>
                                    <ul ng-show="data.STATE_NAME.length > 0"> 
                                        <li ng-repeat="item in data.STATE_NAME track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.STATE_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.STATE_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    <button class="btn" ng-click="addParam('STATE_NAME')">Add</button>
                                    <button class="btn" ng-click="clearParam('STATE_NAME')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Agency Name</h3>
                                    <ul ng-show="data.PUB_AGENCY_NAME.length > 0"> 
                                        <li ng-repeat="item in data.PUB_AGENCY_NAME track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.PUB_AGENCY_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.PUB_AGENCY_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <button class="btn" ng-click="addParam('PUB_AGENCY_NAME')">Add</button>
                                    <button class="btn" ng-click="clearParam('PUB_AGENCY_NAME')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Location Name</h3>
                                    <ul ng-show="data.LOCATION_NAME.length > 0"> 
                                        <li ng-repeat="item in data.LOCATION_NAME track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.LOCATION_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.LOCATION_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    </select>
                                    <button class="btn" ng-click="addParam('LOCATION_NAME')">Add</button>
                                    <button class="btn" ng-click="clearParam('LOCATION_NAME')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Agency Type Name</h3>
                                    <ul ng-show="data.AGENCY_TYPE_NAME.length > 0"> 
                                        <li ng-repeat="item in data.AGENCY_TYPE_NAME track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.AGENCY_TYPE_NAME">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.AGENCY_TYPE_NAME | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <!-- <select ng-model="buff.AGENCY_TYPE_NAME" ng-options="item for item in initData.AGENCY_TYPE_NAME"> -->
                                    </select>
                                    <button class="btn" ng-click="addParam('AGENCY_TYPE_NAME')">Add</button>
                                    <button class="btn" ng-click="clearParam('AGENCY_TYPE_NAME')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Population Group Descrition</h3>
                                    <ul ng-show="data.POPULATION_GROUP_DESC.length > 0"> 
                                        <li ng-repeat="item in data.POPULATION_GROUP_DESC track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.POPULATION_GROUP_DESC">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.POPULATION_GROUP_DESC | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    </select>
                                    <button class="btn" ng-click="addParam('POPULATION_GROUP_DESC')">Add</button>
                                    <button class="btn" ng-click="clearParam('POPULATION_GROUP_DESC')">Clear</button>
                                </div>
                            </div>
                            
                            <h2 class="section-title">
                                Who
                                <i class=" {{explain.who ? 'fas' : 'far'}} fa-question-circle" ng-click="toggleExplain('who')"></i>

                                <i class="toggle-open fa {{viewToggles.who? 'fa-minus' : 'fa-plus'}}" 
                                   aria-hidden="true" 
                                   ng-click="toggleOpen('who')"></i>
                            </h2>
                            <div id="who" class="section" ng-show=viewToggles.who>
                                <div class="explainer" ng-show=explain.who>
                                    <p>Fields work just like "Basics" but are contain information about the victim or offender in the incident</p>
                                   
                                </div>
                                <div class="add-param">
                                    <h3>Victim Types</h3>
                                    <ul ng-show="data.VICTIM_TYPES.length > 0"> 
                                        <li ng-repeat="item in data.VICTIM_TYPES track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.VICTIM_TYPES">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.VICTIM_TYPES | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    </select> 
                                    <button class="btn" ng-click="addParam('VICTIM_TYPES')">Add</button>
                                    <button class="btn" ng-click="clearParam('VICTIM_TYPES')">Clear</button>
                                </div>
                                <div class="add-param">
                                    <h3>Offender Race</h3>
                                    <ul ng-show="data.OFFENDER_RACE.length > 0"> 
                                        <li ng-repeat="item in data.OFFENDER_RACE track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.OFFENDER_RACE">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.OFFENDER_RACE | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    </select>
                                    <button class="btn" ng-click="addParam('OFFENDER_RACE')">Add</button>
                                    <button class="btn" ng-click="clearParam('OFFENDER_RACE')">Clear</button>
                                </div>

                                <div class="add-param">
                                    <h3>Offender Ethnicity</h3>
                                    <ul ng-show="data.OFFENDER_ETHNICITY.length > 0"> 
                                        <li ng-repeat="item in data.OFFENDER_ETHNICITY track by $index"> {{item}} </li>
                                    </ul>
                                    <ui-select ng-model="buff.OFFENDER_ETHNICITY">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (initData.OFFENDER_ETHNICITY | filter: $select.search) track by $index">
                                            <span ng-bind="item"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                    </select> 
                                    <button class="btn" ng-click="addParam('OFFENDER_ETHNICITY')">Add</button>
                                    <button class="btn" ng-click="clearParam('OFFENDER_ETHNICITY')">Clear</button>
                                </div>
                            </div>
                            

                            

                            <div class="controls">
                                <button class="btn" ng-click="getData()">Get Data</button>
                                <button class="btn" ng-click="reset()">Reset</button>
                            </div>

                        </md-content>
                    </md-tab>
                  
                    <md-tab label="table" ng-disabled="checkData">
                        <md-content class="md-padding">
                            <h1 ng-show="showTable"><a download="data.csv" ng-href="{{ fileName }}">Download Data</a></h1>

                            <table id="main-table" ng-if="columnsReady" datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" ></table>

                        </md-content>
                    </md-tab>
                    <md-tab label="viz" ng-disabled="vizImplemented">
                        <md-content class="md-padding">
                            <div id="chart"></div>
                        </md-content>
                    </md-tab>
                    
                </md-tabs>
            </md-content>
        </div>
    </div>
</body>


</html>

