/*test*/
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }


div.add-param {
    padding: 10px;
}
div.section {
    border: solid grey 2px;
    margin-top: 0px;
}
h2.section-title {
    color: white;
    background: grey;
    padding: 5px;
    margin-bottom: 0;
    padding-left: 10px;
}

i.toggle-open {
    float: right;
    margin-rhgt: 10px;
    margin-right: 10px;
}

div.controls{
    background: grey;
    margin: 10px 0px;
}
div.controls button.btn {
    margin: 10px 0px;
    background: white;
    color: black;
}
div.controls button.btn:first-child {
    margin-left: 5px;
}

div.two-inputs input {
    display: block;
}
div.two-inputs label {
    width: 45%;
}